
* {
    padding: 0;
    margin: 0;
  }
body {
    
    justify-content: center;
    align-items: center;
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: #440255; /* Set a background color for better visibility */
}
.height{
    text-align: center;
    font-style: italic;
    font-size: 50px;
    background-color: rgb(82, 118, 150);
    border-radius:20px ;
    text-shadow:1px 2px 2px #0fb3be;
    transition: all 0.5s;
}


.height:hover{
    text-align: center;
    font-style: italic;
    font-size: 55px;
    background-color: rgb(82, 118, 150);
    border-radius:20px ;
    text-shadow:1px 5px 5px #1ebe0f ;
    transition: all 0.5s;
}

.quote-container {
    text-align: center;
    padding: 50px;
    margin: 200px;
    border: 1px solid rgba(226, 18, 3, 0.616); /* Transparent round border */
    border-radius: 10px;
    text-shadow:1px -2px 4px #000000;
    background-color: transparent;
    -webkit-box-shadow: 18px 10px 25px 7px rgba(0,0,0,0.75);
-moz-box-shadow: 18px 10px 25px 7px rgba(0,0,0,0.75);
box-shadow: 18px 10px 25px 7px rgba(0,0,0,0.75);
}

.quote-text {
    font-size: 30px;
    font-style: italic;
    color: #05eff7;
}



.button-85 {
    color: #b8e9f5;
    padding: 0.3em 0.6em;
    margin: 16px;
    font-size: 16px;
    border-radius: 0.8em;
    background: #4072fc;
    cursor: pointer;
    border: 1px solid #000000;
    transition: all 0.3s;
    box-shadow: 1px   #c5c5c5, -6px -6px 12px #ffffff;
}
.button-85:hover {
    color: #752727;
    padding: 0.4em 0.9em;
    font-size: 17px;
    border-radius: 0.4em;
    background: #b4b295;
    cursor: pointer;
    border: 1px solid #000000;
    transition: all 0.5s;
    box-shadow: 1px 0.1px 0.1px  #c5c5c5,;
}

